html{
    box-sizing: border-box;
}

.w-full{
    width: 100%;
}

body {
    padding: 20px;
}

#cookieCounter{
    display: flex;
    gap: 10px;
}

#cookieCounter > div > p:first-child {
    font-weight: 600;
    margin: 0;
}

#error > p {
    padding: 10px;
    background: #ff000030;
    border-radius: 5px;
    border: solid red 1px;
    color: #d70000;
}

#copyIdButton{
    font-size: 0.8em;
    padding: 1px 3px;
    transition: all .3s;
}

#copyIdButton.ok{
    background: #cefdce;
}

#protocol ul{
    list-style: none;
    padding: 0;
}

#protocol ul .milestone{
    background: #dedede;
    padding: 1px 6px;
    display: inline-block;
    border: 2px solid #a5a3a3;
}

#protocol ul .cookie, #protocol ul .timecode  {
    border-left: 2px solid #a5a3a3;
    padding: 5px;
}

.entrypoint .wrapper {
    max-width: 600px;
    margin: auto;
    background: #f7f5f5;
    padding: 20px;
    border: 1px solid;
}

.entrypoint .wrapper .warning{
    background: #ffa50070;
    padding: 1px 10px;
}

#siteList, #url, #startBtn{
    display: block;
    width: 100%;
    padding: 5px;
}
